
.root {
    background-color:#e6e6e6 !important;

}
.header{
    padding:18px !important;
    display:flex !important;
    background-color:white !important;
}
.headerTitle{
    font-size:1.2rem !important;
    font-weight:600 !important;
    margin-right:0.5rem !important;

}
.divider{
    background-color:#7EBAFF !important;
    filter:opacity(0.18) !important;
}
.newTweet{
    padding:12px !important;
    background-color:white !important;
    display:flex !important;
    flex-direction:column !important;

}



.input {
    margin-right: 1rem !important;
    border: none !important;
    flex:1 !important;
}
.tweetItem {
    padding: 18px !important;
    background-color: white !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 0.5rem !important;
}
.tweetItemName {
    font-weight: 600 !important;
}
.tweetItemId {
    font-size: 0.9rem !important;
    margin-right: 0.5rem !important;
    padding-top: 0.1rem !important;

}
.tweetText {
    font-size: 0.9rem !important;
    margin-top: 0.75rem !important;
}
.likeCount{
    font-size: 0.8rem !important;
    margin-left: 0.5rem !important;
}
.tweetImg{
    width: 10rem !important;
    height: 10rem !important;
    margin-top: 1rem !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}



